<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clock_configuration>
            <general>
                <title>Default Clock</title>
                <size>0</size>
                <color>#fff</color>
                <text_color>#000</text_color>
                <clock_type>{"_1576807704475_475":{"customer_group":"0","clock_type":"1"},"_1576807706148_148":{"customer_group":"1","clock_type":"2"},"_1576807710140_140":{"customer_group":"2","clock_type":"3"},"_1576807714260_260":{"customer_group":"3","clock_type":"1"}}</clock_type>
            </general>
        </clock_configuration>
    </default>
</config>